<footer class="page-footer">
    <time itemprop="dateModified" datetime=""></time>
    <section itemscope itemtype="http://schema.org/WebPage">
        <!-- Секция заголовка-->
        <h2></h2>
        <p><a itemprop="relatedLink" href=""></a></p>
    </section>
</footer>