<figure>
    <img src="castle.jpeg">
    <figcaption>
            <span itemscope>
                <span itemprop="name">
                    The Castle
                </span>
            </span>
        (1986)
    </figcaption>
</figure>

<span itemscope>
        <meta itemprop="name" content="The Castle">
    </span>
<figure>
    <img src="castle.jpeg">
    <figcaption>The Castle (1986)</figcaption>
</figure>