{% if include.date %}
    <div class="page-header-date-published">
        <i class="fas fa-calendar-alt mr-2" aria-hidden="true"></i>
        Posted on {{ include.date | date: "%b %-d, %Y" }}
    </div>
{% endif %}