
author: {{ page.author.name }}
<meta itemprop="author" content="ИМЯ_АВТОРА">
<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">
<meta itemprop="dateModified" content="{{ page.modified_date | date_to_xmlschema }}">
<meta itemprop="image" content="URL_КАРТИНКИ">
<meta itemprop="articleSection" content="Категория">

<!-- Информация о сайте -->
<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
    <link itemprop="url" href="URL_САЙТА">
    <meta itemprop="name" content="НАЗВАНИЕ_САЙТА">
    <meta itemprop="description" content="ОПИСАНИЕ_САЙТА">
    <meta itemprop="address" content="АДРЕС">
    <meta itemprop="telephone" content="ТЕЛЕФОН">
    <div itemprop="logo" itemscope itemtype="https://www.schema.org/ImageObject">
        <link itemprop="url" href="URL_ЛОГОТИПА">
        <link itemprop="contentUrl" href="URL_ЛОГОТИПА">
    </div>
</div>

{% comment %}<div itemprop="about"></div>{% endcomment %}