<h2>Skills 🛠</h2>

{% comment %}<p>Я идеолог Domain-Driven Design (DDD) - успешно внедрил 3 из 4 методологию в крупные и не очень{% endcomment %}
    {% comment %}крупные компании.</p>{% endcomment %}
{% comment %}{% endcomment %}
{% comment %}<p>Создаю курс по DDD (deep level) для сотрудников компании. Имею обширный опыт внедрения методологии DevOps в процессы{% endcomment %}
    {% comment %}компании.</p>{% endcomment %}
{% comment %}{% endcomment %}
{% comment %}<p>Имею большой опыт формализации технических требований от бизнеса / заказчика к разработке, разработки архитектуры{% endcomment %}
    {% comment %}решений, архитектурных артефактов, а так же повседневно примеряю TOGAF.</p>{% endcomment %}
{% comment %}{% endcomment %}
{% comment %}<p><a href="https://en.wikipedia.org/wiki/The_Open_Group_Architecture_Framework" rel="noopener noreferrer"{% endcomment %}
      {% comment %}target="_blank"><strong>The Open Group Architecture Framework (TOGAF)</strong></a> - методология/библиотечный{% endcomment %}
    {% comment %}метод описания/подход{% endcomment %}
    {% comment %}(framework) для описания архитектуры предприятия, который предлагает подход для проектирования, планирования,{% endcomment %}
    {% comment %}внедрения IT-архитектуры предприятия и управления ей.</p>{% endcomment %}

<div class="row row-cols-3">
    <div class="col">
        <div><strong>Soft skills</strong></div>
        <ul class="list-unstyled">
            <li>TOGAF Framework</li>
            <li>ArchiMate</li>
            <li>C4 Model</li>
            <li>Architecture Development Method (ADM)</li>
            {% comment %}<!--    <li>&nbsp;</li>-->{% endcomment %}
            <!--    <li><a href="https://www.sciencedirect.com/topics/computer-science/enterprise-architecture">Enterprise-->
            <!--        Architecture</a></li>-->
            <!--    <li><a href="https://www.sciencedirect.com/topics/computer-science/the-open-group-architecture-framework">The Open-->
            <!--        Group Architecture Framework</a></li>-->
            <!--    <li><a href="https://www.sciencedirect.com/topics/computer-science/architecture-framework">Architecture-->
            <!--        Framework</a></li>-->
            <!--    <li>&nbsp;</li>-->
            <li>GAP-анализ</li>
            <li>SWOT-анализ</li>
            <li>Event Storming Framework</li>
            <li>Total Cost of Ownership (TCO) Framework</li>
            <li>SMART Framework</li>
            <li>RICE & ICE Framework</li>
            <li>PERT Framework</li>
            <li>OKR & KPI Framework</li>
            <li>BABok</li>
            <li>PMBok</li>
            <li>BIZBok</li>
            <li>SWEBOK</li>
            <li>ITIL foundation</li>
            <li>SAFe</li>
            <li>etc...</li>
        </ul>
    </div>
    <!--            <div class="col">-->
    <!--                <ul class="list-unstyled">-->
    <!--                    <li>Programming</li>-->
    <!--                    <li>Web Development</li>-->
    <!--                    <li>Database Design</li>-->
    <!--                    <li>Google Cloud Services</li>-->
    <!--                    <li>Problem Solving</li>-->
    <!--                    <li>Team Leadership</li>-->
    <!--                    <li>Teamwork</li>-->
    <!--                </ul>-->
    <!--            </div>-->
    <!--            <div class="col">-->
    <!--                <ul class="list-unstyled">-->
    <!--                    <li>UX / UI</li>-->
    <!--                    <li>Bootstrap</li>-->
    <!--                    <li>Material Design</li>-->
    <!--                    <li>Adobe Photoshop</li>-->
    <!--                    <li>Affinity Designer</li>-->
    <!--                </ul>-->
    <!--            </div>-->
    <div class="col">
        <div><strong>Languages</strong></div>
        <ul class="list-unstyled">
            <li>PHP (primary language)</li>
            <li>Node.js</li>
            <li>JavaScript</li>
            <li>Golang</li>
            <li>Python</li>
        </ul>
    </div>
    <div class="col">
        <div><strong>Frameworks</strong></div>
        <ul class="list-unstyled">
            <li>Symfony</li>
            <li>Laravel</li>
            <li>ReactPHP</li>
            <li>Swoole</li>
            <li>ReactJS</li>
            <li>Vue.js</li>
            <li>Angular.js</li>
        </ul>
    </div>
    <div class="col">
        <div><strong>Storage</strong></div>
        <ul class="list-unstyled">
            <li>MySQL</li>
            <li>PostgreSQL</li>
            <li>Percona</li>
            <li>MariaDB</li>
            <li><strong>OLAP</strong></li>
            <li>ClickHouse</li>
            <li>GCP BigQuery</li>
        </ul>
    </div>
    <div class="col">
        <div><strong>Key/value storage</strong></div>
        <ul class="list-unstyled">
            <li>Redis</li>
            <li>Memcached</li>
            <li>GCP Cloud Bigtable</li>
            <li>GCP Firebase Realtime Database</li>
        </ul>
    </div>
    <div class="col">
        <div><strong>Message bus service</strong></div>
        <ul class="list-unstyled">
            <li>RabbitMQ</li>
            <li>Kafka</li>
            <li>GCP Pub/Sub</li>
            <li>GCP Cloud Functions</li>
            <li>Amazon SQS</li>
        </ul>
    </div>
    <div class="col">
        <div><strong>Infrastructure (Cloud Services)</strong></div>
        <ul class="list-unstyled">
            <li>Google Cloud Platform</li>
            <li>Amazon Web Services</li>
            <li>Microsoft Azure</li>
            <li>Yandex.Cloud</li>
            <li>Cloudflare</li>
        </ul>
    </div>
    <div class="col">
        <div><strong>Infrastructure (tools & services)</strong></div>
        <ul class="list-unstyled">
            <li>GCP Cloud Load Balancing</li>
            <li>GCP Cloud CDN</li>
            <li>Cloudflare Zero Trust</li>
            <li><strong>SaaS и API</strong></li>
            <li>Pattern API Gateway & BFF</li>
            <li>KrakenD</li>
            <li>GCP API Gateway</li>
            <li>Yandex API Gateway</li>
            <li><strong>Monitoring system</strong></li>
            <li>Sentry</li>
            <li>ELK Stack</li>
            <li>Logstash</li>
            <li>Prometheus</li>
            <li>Graylog</li>
        </ul>
    </div>
    <div class="col">
        <div><strong>Container orchestration</strong></div>
        <ul class="list-unstyled">
            <li>Kubernetes</li>
            <li>Docker</li>
            <li>Docker Swarm</li>
            <li>Google Kubernetes Engine (GKE)</li>
            <li><strong>Container assembly</strong></li>
            <li>GitLab CI/CD to GitLab Container Registry</li>
            <li>GCP Cloud Build</li>
        </ul>
    </div>
    <div class="col">
        <div><strong>Security</strong></div>
        <ul class="list-unstyled">
            <li>Имел опыт работы в PCI DSS зоне (эквайринг)</li>
            <li>OWASP</li>
            <li>Vault Secrets Manager</li>
            <li>GCP Secret Manager</li>
            <li>GCP Key Management</li>
            <li>GCP Cloud Identity</li>
            <li>Okta</li>
            <li>Auth0</li>
        </ul>
    </div>
</div>

{% comment %}<h2>Ultimate hard skills 🔥</h2>{% endcomment %}
{% comment %}<h2>And more skills 🧠</h2>{% endcomment %}
