h-feed

h-feed – это поток или поток сообщений h-записи, таких как полные сообщения на домашней странице или
страницах архива, или сводки, или другие краткие списки сообщений.

{% comment %}https://developer.mozilla.org/en-US/docs/Web/HTML/microformats#h-feed{% endcomment %}

<div class="h-feed">
    <h1 class="p-name">Microformats Blogs</h1>
    <article class="h-entry">
        <h2 class="p-name">Microformats are amazing</h2>
        <p>
            Published by
            <a class="p-author h-card" href="https://example.com">W. Developer</a> on
            <time class="dt-published" datetime="2013-06-13 12:00:00">13<sup>th</sup> June 2013</time>
        </p>
        <p class="p-summary">
            In which I extoll the virtues of using microformats.
        </p>
        <div class="e-content"><p>Blah blah blah</p></div>
    </article>
</div>

