{% comment %}https://microformats.org/wiki/hcard-examples#Lists_of_Organizations{% endcomment %}

<ul>
    <li class="vcard">
        <a class="fn org url" href="http://microformats.org/">microformats.org</a>
    </li>
    <li class="vcard">
        <a class="fn org url" href="http://technorati.com/">Technorati</a>
    </li>
    <li class="vcard">
        <a class="fn org url" href="http://www.w3.org/">World Wide Web Consortium</a>
        (<span class="nickname">W3C</span>)
        </a>
    </li>
</ul>
