---
title: About me
description: "Занимаюсь проектированием: бизнес архитектуры, архитектуры данных, архитектуры приложения, технологической архитектуры, а также обучением сотрудников. Имею более чем 10-летний опыт в IT, есть опыт запуска start-up и своего наставничества. Обожаю развиваться сам и помогать другим"
permalink: /about
image: https://images.unsplash.com/photo-1483546416237-76fd26bbcdd1
---

<div class="container">
    <div class="row row-cols-1">
        <div class="col col-lg-4 text-center mb-2">
            <picture>
                <img class="img-fluid rounded" src="/assets/img/about.jpeg" alt="">
            </picture>
        </div>
        <div class="col col-lg-8">
            <h2>#Знакомство</h2>
            <p>Всем привет! Меня зовут Владислав, я Solutions Architect живу в Москве. Занимаюсь проектированием: бизнес архитектуры,
                архитектуры данных, архитектуры приложения, технологической архитектуры, а также обучением
                сотрудников.</p>
            <p>Имею более чем 10-летний опыт в IT, есть опыт запуска start-up и своего наставничества.<br>
                Обожаю развиваться сам и помогать другим 😎</p>

            <p><b>#МогуПомочь</b> с созданием эффективного процесса управления командой, высоконагруженного проекта
                со сложной доменной областью.</p>

            <p><b>#Мой канал</b>
                <i class="fa-brands fa-telegram" aria-hidden="true"></i>
                <a href="https://t.me/+YpCP4MsEorBmN2Qy">https://t.me/soprun_architect</a>
            </p>
        </div>
    </div>
</div>


<h2>#17 ценностей моей команды:</h2>

<p>Почти 2,5 года стремительного роста результатов! Все благодаря тому, что эти ценности никогда не вызывали во мне сомнения.</p>

<ol>
    <li>Свобода = добровольная дисциплина</li>
    <li>Честность</li>
    <li>Win-win</li>
    <li>Делаем качество</li>
    <li>Осознанность: я знаю что и зачем</li>
    <li>Сострадание и сопереживание</li>
    <li>Служение делу</li>
    <li>Дело во мне</li>
    <li>80% скажут «Зачем?», но мы - 20% - скажем «Как?»</li>
    <li>Встреча без решений - трата времени</li>
    <li>Говори поступками</li>
    <li>Нулевая толерантность к посредственности</li>
    <li>Стойкость важнее компетенций</li>
    <li>Ошибаться - это нормально</li>
    <li>Нет страшнее врага, чем союзник-долбоёб</li>
    <li>Клиент не всегда прав, но он всегда важнее всего</li>
    <li>Побеждать - это привычка</li>
</ol>

{% include snippet/resume/skills.liquid %}
<!--{% include snippet/resume/work-experience.liquid %}-->