---
layout: default
title: "Resume"
permalink: /resume
noindex: true
---

<!--
https://www.hireitpeople.com/resume-database/81-project-manager-resumes/27435-technical-architect-resume-profile-tx

https://www.qwikresume.com/resume-samples/technical-architect/

https://www.velvetjobs.com/resume/technical-architect-resume-sample

-->

<h1>About me</h1>


<!--<p>Занимаюсь проектированием и разработкой высоко нагруженных, масштабируемых, отказоустойчивых сервисов и приложений со-->
<!--    сложной доменной областью в различных архитектурных стилях.</p>-->

<!--<p>I'm a graduating multimedia student with a passion for programming and making excellent software for Desktop, Web and-->
<!--    Mobile platforms.</p>-->
<!--<p>I love the process of planning, designing, and implementing the systems behind what makes a product work.</p>-->
<!--<p>I'm driven by problem-solving and love a challenge.</p>-->
<!--<p>In my free time, I enjoy spending time with friends, either by hanging out or playing video games together.</p>-->
<!--<p>I also love making music whenever I can, which includes playing guitar and recording vocals either on my phone or-->
<!--    computer.</p>-->
<!--<p>I experiment with game development whenever I can and my plan for 2020 is to enter for as many 'Game Jams' as-->
<!--    possible.</p>-->

<!--<p><strong>Summary:</strong> более 10+ лет в отрасли информационных технологий в качестве технического архитектора,-->
<!--    обладающий обширным опытом управления проектами во всех аспектах жизненного цикла гибкой разработки программного-->
<!--    обеспечения для предоставления успешных бизнес-решений. </p>-->

<!--<p><strong>Skills:</strong> SAS, управление рыночными рисками, управление кредитными рисками, моделирование товарных-->
<!--    деривативов,-->
<!--    статистический анализ.</p>-->

<!--<hr>-->

<!-- short: Summary -->

<p>Уже более 11 лет опыта внедрения технических решений, удовлетворения потребностей бизнеса со сложной доменной
    областью и
    высоко нагруженной инфраструктурой в сжатые сроки.</p>

<p>Уделяя особое внимание разработке, по адаптации и внедрению Architecture Development Method (ADM), управлению и
    контролю соответствие таксонометрии качества реализации заявленному архитектуру контракту Technical Reference
    Model (TRM).</p>

<!--<p>Этот подход позволяет мне эффективно анализировать сложные проблемы проекта, определять возможные варианты решения и-->
<!--    многое другое…</p>-->

<p>...???</p>

<!--<details>-->
<!--    <summary>The Open Group Architecture Framework (TOGAF)</summary>-->
<!--    <blockquote>-->
<!--        <a href="https://en.wikipedia.org/wiki/The_Open_Group_Architecture_Framework"-->
<!--           rel="noopener noreferrer"-->
<!--           target="_blank"><strong>TOGAF</strong></a> - это наиболее часто используемая структура-->
<!--        для корпоративной архитектуры с 2020 года, которая обеспечивает подход к проектированию, планированию, внедрению-->
<!--        и управлению корпоративной архитектурой информационных технологий.<br>-->
<!--        TOGAF - это высокоуровневый подход к дизайну.-->
<!--    </blockquote>-->
<!--</details>-->

<!--<h2>Professional interest (what I study)</h2>-->

<!--<ul class="list-unstyled">-->
<!--    <li>Zachman Framework</li>-->
<!--    <li>TOGAF Framework</li>-->
<!--    <li>Architecture Development Method (ADM)</li>-->
<!--    <li>&nbsp;</li>-->
<!--</ul>-->

<p>Имею обширный опыт разработки, используя различные архитектурные стили, а также высокопроизводительные
    инфраструктурные системы и подсистемы:</p>

<ul class="list-unstyled">
    <li>N-tier architecture style (also known as Monolith)</li>
    <li>Microservices architecture style.</li>
    <li>Event-driven architecture style.</li>
    <li>Serverless applications.</li>
    <li>И другие архитектурные решения…</li>
    <li>&nbsp;</li>
    <li>Pattern API Gateway</li>
    <li>Pattern Backends For Frontends (BFF)</li>
    <li>App Service Web App Multi Region</li>
    <li>Multi-region load balancing</li>
    <li>Multi Tier App Disaster Recovery</li>
    <li>E-commerce Order Processing</li>
    <li>Microservice CQRS DDD Patterns</li>
    <li>И множество других архитектурные решения…</li>
</ul>

<p>Так же в процессе изучения и прохождения сертификации: (буду честен, в последнее время забросил обучение)</p>

<ul class="list-unstyled">
    <li>Microsoft Certified: Azure Solutions Architect Expert</li>
    <li>Microsoft Certified: DevOps Engineer Expert</li>
</ul>

{% include snippet/resume/skills.liquid %}
<!--{% include snippet/resume/work-experience.liquid %}-->

<!--<div class="row row-cols-2">-->
<!--    <div class="col">-->
<!--    </div>-->
<!--    <div class="col">-->
<!--    </div>-->
<!--</div>-->

<!--
<div class="row row-cols-1">
    <div class="col p-3 mb-3">
        <h4>Intermediate Software Engineer</h4>
        <p>Codehesion is a software development consultancy focused on enabling high-skilled developers to
            launch exceptional mobile apps.</p>
        <p><strong>Responsibilities</strong></p>
        <ul class="list-unstyled list-group-numbered">
            <li>Development of multiple new Mobile Apps & backend API's and Dashboards</li>
            <li>Maintaining and developing of existing Apps & Backend Systems</li>
            <li>Full Stack team lead, where I help and manage 4 juniors, each with their own projects.</li>
            <li>Meeting with clients on upcoming projects, where we go through the design and planning phase
                with the clients to completely map out the scope of their products before we start development.
            </li>
        </ul>
    </div>
    <div class="col p-3 mb-3">
        <h4>Intermediate Software Engineer</h4>
        <p>Codehesion is a software development consultancy focused on enabling high-skilled developers to
            launch exceptional mobile apps.</p>
        <p><strong>Responsibilities</strong></p>
        <ul class="list-unstyled list-group-numbered">
            <li>Development of multiple new Mobile Apps & backend API's and Dashboards</li>
            <li>Maintaining and developing of existing Apps & Backend Systems</li>
            <li>Full Stack team lead, where I help and manage 4 juniors, each with their own projects.</li>
            <li>Meeting with clients on upcoming projects, where we go through the design and planning phase
                with the clients to completely map out the scope of their products before we start development.
            </li>
        </ul>
    </div>
</div>

-->
