{% comment %}<h4 class="fst-italic">Archives</h4>{% endcomment %}
<h4 class="fst-italic">Latest posts:</h4>
<ol class="list-unstyled mb-0">
    {% for post in site.posts %}
        <li>
            <a href="{{ post.url }}">
                {{ post.title }}
            </a>
        </li>
    {% endfor %}
</ol>