<nav class="nav flex-column">
    {% for link in include.links %}
        <a class="nav-link" href="{{ link.url }}">
            {{ link.icon }}
            <span>{{ link.title }}</span>
        </a>
    {% endfor %}
</nav>