{% if site.paginate and paginator.total_pages > 1 %}
    <nav  class="p-4" aria-label="page navigation">
        <ul class="pagination justify-content-center pt-2 m-0">
            <li class="page-item {% unless paginator.previous_page %}disabled{% endunless %}">
                <a class="page-link"
                   href="{{ paginator.previous_page_path | relative_url }}"
                   {% unless paginator.previous_page %}tabindex="-1"{% endunless %}
                    {% unless paginator.previous_page %}aria-disabled="true"{% endunless %}
                   aria-label="Previous">
                    <i class="fa-solid fa-angles-left" aria-hidden="true"></i>
                    Previous
                </a>
            </li>
            {% for i in (1..paginator.total_pages) %}
                {%- assign page_active = false %}
                {%- if paginator.page == i %}
                    {% assign page_active = true %}
                {% endif %}

                {%- assign page_link = site.paginate_path | replace: ':num', i %}
                {%- if i == 1 %}
                    {% assign page_link = site.baseurl | prepend: site.url %}
                {% endif %}

                <li class="page-item {% if page_active %}active{% endif %}"
                    {% if page_active %}aria-current="page"{% endif %}>
                    <a class="page-link" href="{{ page_link | relative_url }}">
                        {{ i }}
                    </a>
                </li>
            {% endfor %}

            <li class="page-item {% unless paginator.next_page %}disabled{% endunless %}">
                <a class="page-link"
                   href="{{ paginator.next_page_path | relative_url }}"
                   {% unless paginator.next_page %}tabindex="-1"{% endunless %}
                    {% unless paginator.next_page %}aria-disabled="true"{% endunless %}
                   aria-label="Next">
                    Next
                    <i class="fa-solid fa-angles-right" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </nav>
{% endif %}