{% assign file = include.file %}
{% unless file %}
    {% assign file = 'https://via.placeholder.com/300x225' %}
{% endunless %}

{% assign alt = include.alt %}
{% unless alt %}
    {% assign alt = page.title | append: ' - ' | append: site.title %}
{% endunless %}

{% assign lazyload = include.lazyload %}

{% if lazyload == nil %}
    {% assign lazyload = true %}
{% endif %}

{% if lazyload == true %}
    {% assign src = 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' %}
    {% assign data-src = file | relative_url %}
{% else %}
    {% assign src = file | relative_url %}
    {% assign data-src = '' %}
{% endif %}

<a href="{{ post.url }}" class="post-card-image-link">
    <img src="{{ src }}"
         data-src="{{ data-src }}"
         class="img-fluid lazyload"
         alt="{{ alt }}">
</a>