<table class="table table-borderless mb-0">
    <thead>
    <tr>
        <td colspan="2" class="fs-6">
            Contact Information
        </td>
    </tr>
    </thead>
    <tbody>
    {% for link in site.data.links.links.contact %}
        <tr>
            <td>
                {{ link.icon }}
                {{ link.label }}
            </td>
            <td>
                <a href="{{ link.url }}" class="fw-light text-decoration-none">
                    {{ link.title }}
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>