<footer id="footer" itemtype="http://schema.org/WPFooter">
    <div class="container-lg">
        <div class="row text-center text-black-50 p-4">
            <div>
                {{ copyright }}<br>
                ИП Сопрун Владислав Игоревич, ИНН 366290030139
            </div>
        </div>
    </div>
</footer>