<footer id="footer" itemtype="http://schema.org/WPFooter">
    <div class="container-lg">
        <div class="row text-center text-black-50 p-4">
            <div>
                {{ copyright }}
            </div>
        </div>
    </div>
</footer>