<footer id="footer" itemtype="http://schema.org/WPFooter">
    <div class="container-lg">
        <div class="row text-center text-black-50 p-4">
            <div>
                {{ copyright }}<br>
                {% comment %}ИП Сопрун Владислав Игоревич, ОГРН 323366800012081{% endcomment %}
            </div>
        </div>
    </div>
</footer>