<ul>
    {% for item in include.nav %}
        <li><a href="{{ item.url }}">{{ item.title }}</a></li>

        {% if item.subnav %}
            {% include nav.html nav=item.subnav %}
        {% endif %}
    {% endfor %}
</ul>

{% comment %}{% include nav.html nav=page.nav %}{% endcomment %}
{% comment %}https://jekyllrb.com/tutorials/navigation/#scenario-9-nested-tree-navigation-with-recursion{% endcomment %}
