<nav class="nav flex-column nav-pills">
    {% for item in site.data.navigation %}
        <a class="nav-link {% if page.url == item.link %}active{% endif %}" href="{{ item.link }}">
            {{ item.name }}
        </a>
    {% endfor %}
</nav>