#sidebar {
    padding-top: 1.5rem;

    > section {
        margin-bottom: 1rem;

        &:last-child {
            padding-bottom: 0;
        }
    }

    &-logo {
    }

    &-author {
    }

    &-nav {
    }

    &-contact {
    }

    &-signature {
    }
}
