#sidebar {
    padding-top: 1.5rem;

    > section {
        //margin-bottom: 1rem;

        &:last-child {
            //padding-bottom: 0;
        }
    }

    &-logo {
    }

    &-author {
    }

    &-nav {
    }

    &-contact {
    }

    &-signature {
    }

    .blockquote {
        font-size: .9rem;
        border-left: .3rem solid var(--color-text-link);
        color: var(--color-text-main);
        font-style: italic;
        padding: 1rem;

        &-footer {
            text-align: right;
        }
    }
}
