#sidebar {
    padding-top: 1.5rem;

    .sticky-top > section {
        // margin-bottom: 1rem;

        padding-top: .5rem;
        padding-bottom: .5rem;

        &:last-child {
            padding-bottom: 0;
        }
    }

    &-logo {
    }

    &-author {
    }

    &-nav {
    }

    &-contact {
    }

    &-signature {
        opacity: 60%;
        transition: opacity 0.33s linear;

        &:hover {
            opacity: 100%;
        }
    }
}
