---
---


body {
    font: 14px/1.5 'Noto Sans', sans-serif !important;
}

#content {
    h1, h2 {
        font-weight: 200;
    }

    h3, h4 {
        font-weight: 300;
    }
}

#sidebar {
    padding-top: 1.5rem
}

#sidebar-header {
}

#sidebar-logo {
}

#sidebar-title {
    //text-align: center;

    a {
        font-size: 1.4rem;
    }
}

#sidebar-description {
}

#sidebar-footer {
}

div.code {
    white-space: pre;
}

//img {
    // display: block;
    // width: auto;
    //max-width: 100%;
    //height: auto;
    //
//}

.figure-post {
    width: 100%;
    max-height: 300px;
    overflow: hidden;

    img {
        max-width: 100%;
        max-height: inherit;
    }
}


//pre {
//    width: auto;
//    max-width: 100%;
//    height: auto;
//
//    code {
//        display: inherit;
//        width: 100%;
//        max-width: inherit;
//        height: auto;
//    }
//}
//
//
//.task-list {
//
//}
//
//.task-list-item {
//
//}

// .img-fluid
//img {
//    max-width: 100%;
//    height: auto;
//}

iframe {
    width: 100%;
    height: 500px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 0;
}

.post-card {
    margin-bottom: 2em;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    overflow: hidden;
    position: relative;
    //background-color: #18151f;
    //color: white;

    &-image-link {
        display: contents;
        // display: block;

        img {
            max-width: 300px;
            max-height: 225px;
        }
    }
    &-body {
        display: flex;
        padding: 1.5em;
        width: 100%;
        flex-direction: column;
    }
    &-title {
        font-size: 1.4rem;
    }
    &-subtitle {
        font-size: .8em;
    }
    &-preview {
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: justify;
        height: 100%;
    }
    &-tags {
        display: flex;
        flex-flow: row wrap;
        justify-content: start;
    }
}
