{%- assign script = include.script %}

{% include scripts/content-header.liquid %}

<section>
    {%- assign steps_count = script.steps | size %}

    <h3>Workflow {{ steps_count }} steps{% if script.header.title != empty %} for "{{ script.header.title }}"{% endif %}</h3>

    {% include scripts/step.liquid
        steps=script.steps
    %}
</section>

{% include scripts/content-footer.liquid %}