{% assign title = include.title | escape %}
{% assign url = include.url %}

{% if title %}
    <h2 class="post-title {{ include.class }}" itemprop="headline">
        {% if url %}
            <a href="{{ url }}" itemprop="mainEntityOfPage">
                {{ title }}
            </a>
        {% else %}
            {{ title }}
        {% endif %}
    </h2>
{% endif %}
