{% if page.previous.url or page.next.url %}
    <nav class="post-page-pagination" aria-label="Pagination">
        {% if page.previous.url %}
            <a class="btn btn-outline-secondary text-decoration-none" href="{{ page.previous.url }}">
                <i class="fa-solid fa-angles-left"></i>
                {{ page.previous.title }}
            </a>
        {% endif %}
        {% if page.next.url %}
            <a class="btn btn-outline-secondary text-decoration-none" href="{{ page.next.url }}">
                {{ page.next.title }}
                <i class="fa-solid fa-angles-right"></i>
            </a>
        {% endif %}
    </nav>
{% endif %}