{% assign size = include.tags | size %}

{% if size != 0 %}
    <div class="post-tags {{ include.class }}">
        <i class="fa-solid fa-tags" aria-hidden="true"></i>
        <span>Tags:</span>
        {% for tag in include.tags %}
            <span class="badge bg-primary" itemprop="keywords">
                {% comment %}<a rel="tag" href="">{{ tag }}</a>{% endcomment %}
                {{ tag }}
            </span>
        {% endfor %}
    </div>
{% endif %}