{% assign content = include.content %}

<div class="post-content">
    {{ content | strip_html | newline_to_br | truncatewords: 160 }}
</div>

{% comment %}{{ post.excerpt | strip_html | markdownify | strip_html | strip_newlines | truncatewords: 160 }}{% endcomment %}
{% comment %}{{ post.excerpt | strip_html | newline_to_br | truncatewords: 160 }}{% endcomment %}
{% comment %}{{ post.content | strip_html | markdownify | strip_html |r | truncatewords: 160 }}{% endcomment %}