<nav class="nav flex-column nav-pills"
     role="navigation"
     itemscope
     itemtype="https://www.schema.org/SiteNavigationElement">
    {%- for item in site.data.navigation %}
        <a class="nav-link {% if page.path == item.link %}active{% endif %}"
           href="{{ item.link | relative_url }}"
           {% if item.rel %}rel="{{ item.rel }}"{% endif -%}
           itemprop="url">
            <span itemprop="name">
                {{ item.name }}
            </span>
        </a>
    {% endfor -%}
</nav>