<div id="sidebar-signature" class="text-muted">
    <p class="fw-normal fs-6 mt-4 lh-sm">
        Send me a secure email message
        <i class="fa-solid fa-signature fs-4 lh-sm" aria-hidden="true"></i>
    </p>
    <p>
        If you want to email me, my fingerprint is:<br>
        <code>8120&nbsp;2130&nbsp;55C8&nbsp;4C2C&nbsp;3324</code>
    </p>
    <p>
        <a href="https://github.com/soprun.gpg"
           rel="noopener noreferrer"
           target="_blank">
            My full OpenPGP (GnuPG) public key is also available here.
        </a>
    </p>
    {% comment %}https://www.bjornjohansen.com/secure-email{% endcomment %}
</div>