<div class="hresume">
    <div class=" position first experience vevent vcard summary-current" style="display:block">
        <span class="n fn" id="name">
            <span class="full-name"><span class="given-name">Peter</span> <span class="family-name">Savelyev</span></span>
        </span>
        <div class="postitle">
            <h4><strong>
                    <a class="company-profile" href="/company/10718?trk=pro_other_cmpy"><span class="org summary">Yandex</span></a>
                </strong>
            </h4>
        </div>
        <p class="period">
            <abbr class="dtstart" title="2011-07-01">июль 2011 г.</abbr>
            <abbr class="dtstamp" title="2012-12-11">настоящее время</abbr>
            <span class="duration"><span class="value-title" title="P1Y6M"> </span>(1 год 6 месяцев)</span>
        </p>
        <p class="description current-position">structured information extraction using semantic technologies</p>
    </div>
</div>