---
layout: default
---
<article class="page"
         itemid="{{ page.url | relative_url }}"
         itemscope
         itemtype="http://schema.org/Article">


    {% include page/page-meta.liquid %}
    {% include page/page-header.liquid %}
    <div class="page-entry" itemprop="articleBody">
        {{ content | markdownify }}
    </div>
    {% include page/page-footer.liquid %}
</article>
