---
layout: ~
---
{%- include variables.liquid -%}
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'ru' }}">
{%- include head.liquid %}
<body class="{{ page.layout }}">
{%- include head/google-tag-manager-body.liquid -%}
{{ content }}
{% comment %}{%- include scripts.liquid %}{% endcomment %}
</body>
</html>
