{%- comment %}https://github.com/daattali/beautiful-jekyll/blob/master/_layouts/base.html{% endcomment %}
{%- comment %}https://github.com/daattali/beautiful-jekyll/blob/master/_includes/head.html{% endcomment %}
{%- include variables.liquid -%}
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'ru' }}" data-theme="light">
{%- include head.liquid %}
<body class="{{ page.layout }}">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PM269NN"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{%- include header.liquid %}

<main id="main" class="container-lg" role="main" aria-label="content">
    <div class="row">
        <aside id="sidebar"
               class="com col-12 col-sm-5 col-md-4 col-lg-3 mb-3"
               itemscope
               itemtype="http://schema.org/WPSideBar"
               role="complementary">
            {%- include sidebar.liquid %}
        </aside>
        <section id="content" class="col-12 col-sm-7 col-md-8 col-lg-9 p-4 pb-0">
            {% comment %}<script async src="https://telegram.org/js/telegram-widget.js?21" data-telegram-post="soprun_architect/236" data-width="100%"></script>{% endcomment %}
            {{ content }}
        </section>
    </div>
</main>

{%- include footer.liquid %}
{%- include scripts.liquid %}
</body>
</html>