<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'ru' }}" data-theme="light">
{%- include head.liquid %}
<body class="{{ page.layout }}">

{%- include header.liquid %}

<main id="main" class="container-lg" role="main" aria-label="content" style="opacity: 0">
    <div class="row">
        <aside id="sidebar"
               class="com col-12 col-sm-5 col-md-4 col-lg-3 mb-3"
               itemscope
               itemtype="http://schema.org/WPSideBar"
               role="complementary">
            {%- include sidebar.liquid %}
        </aside>
        <section id="content" class="col-12 col-sm-7 col-md-8 col-lg-9 p-4">
            {{ content }}
        </section>
    </div>
</main>

{%- comment %}{% include footer.liquid %}{% endcomment %}
{%- include scripts.liquid %}
</body>
</html>