---
layout: default
---

{% comment %}site_logo: {{ site_logo }}{% endcomment %}

{% if site.paginate %}
    {% assign posts = paginator.posts %}
{% else %}
    {% assign posts = site.posts %}
{% endif %}

{% if posts.size > 0 %}
    <div class="row row-cols-1">
        {% for post in posts %}
            <article id="post-{{ post.id }}" class="post-card col">

                <a href="{% link {{ post.path }} %}"
                   class="post-card-thumbnail"
                   itemprop="url">
                    {% include snippet/post/post-thumbnail.liquid
                        src=post.image
                        alt=post.title
                    %}
                </a>
                <div class="post-card-body">
                    <header class="post-card-header">
                        {% include snippet/post/post-title.liquid
                            title=post.title
                            url=post.url
                        %}
                        {% include snippet/post/post-meta.liquid
                            date=post.date
                            modified_date=post.modified_date
                        %}
                    </header>
                    <div class="post-card-content">
                        {% include snippet/post/post-content.liquid
                            content=post.excerpt
                        %}
                    </div>
                    <footer class="post-card-footer">
                        {% include snippet/post/post-tags.liquid
                            tags=post.tags
                        %}
                    </footer>
                </div>
            </article>
        {% endfor %}
    </div>
    {% include snippet/paginate.liquid %}
{% endif %}

<div class="page-content">
    {{ content }}
</div>