---
layout: default
---

{% if site.paginate %}
    {% assign posts = paginator.posts %}
{% else %}
    {% assign posts = site.posts %}
{% endif %}

{% if posts.size > 0 %}
    <div class="row row-cols-1">
        {% for post in posts %}
            <article id="post-{{ post.id }}" class="post-card col">
                {%- assign excerpt_length = site.excerpt_length | default: 50 %}
                {%- assign content_word_count = post.content | strip_html | number_of_words %}
                {%- assign excerpt_word_count = post.excerpt | strip_html | number_of_words %}
                {%- assign show_read_more = false %}
                {%- assign show_title_link = false %}

                {%- if content_word_count != excerpt_word_count or excerpt_word_count > excerpt_length %}
                    {%- assign show_read_more = true %}
                    {%- assign show_title_link = true %}
                {% endif %}

                <div class="post-card-thumbnail">
                    {%- if show_title_link %}
                        <a href="{{ post.url | relative_url }}"
                           class="post-card-thumbnail"
                           itemprop="url">
                            {% include snippet/post/post-thumbnail.liquid
                                src=post.image
                                alt=post.title
                            %}
                        </a>
                    {% else %}
                        {% include snippet/post/post-thumbnail.liquid
                            src=post.image
                            alt=post.title
                        %}
                    {% endif %}
                </div>
                <div class="post-card-body">
                    <header class="post-card-header">
                        {% include snippet/post/post-title.liquid %}
                        {% include snippet/post/post-meta.liquid
                            date=post.date
                            content=post.content
                            modified_date=post.modified_date
                        %}
                    </header>
                    <div class="post-card-content">
                        {% include snippet/post/post-content.liquid %}

                        {%- if show_read_more %}
                            <a class="post-content-read-more fs-6 text-decoration-none"
                               href="{{ post.url | absolute_url }}">
                                Continue reading...
                                <i class="fa-solid fa-angles-right"></i>
                            </a>
                        {% endif %}
                    </div>
                    <footer class="post-card-footer">
                        {% include snippet/post/post-tags.liquid %}
                    </footer>
                </div>
            </article>
        {% endfor %}
    </div>
    {% include snippet/paginate.liquid %}
{% endif %}

<div class="page-content">
    {{ content }}
</div>