---
layout: default
---
<article class="page">
    {% include snippet/post/post-thumbnail.liquid
        src=page.image
        param='?w=942&h=218&fit=crop'
    %}
    <header class="page-header">
        {% include snippet/post/post-title.liquid
            title=page.title
        %}
        {% include snippet/post/post-meta.liquid
            date=page.date
            modified_date=page.modified_date
        %}
        {% include snippet/post/post-tags.liquid
            tags=page.tags
        %}
        {% include snippet/post/post-categories.liquid
            categories=page.categories
        %}
    </header>
    <div class="page-content">
        {{ content }}
    </div>
</article>
