---
layout: default
---
<article id="post-page-{{ page.id }}"
         class="post-page"
         itemid="{{ page.url | relative_url }}"
         itemscope
         itemtype="http://schema.org/BlogPosting">

    {% include snippet/post/post-thumbnail.liquid
        src=page.image
        alt=page.title
        param='?w=942&h=218&fit=crop'
    %}
    <header class="post-page-header">
        {% include snippet/post/post-title.liquid
            title=page.title
        %}
        {% include snippet/post/post-meta.liquid
            date=page.date
            modified_date=page.modified_date
        %}
        {% include snippet/post/post-tags.liquid
            tags=page.tags
        %}
        {% include snippet/post/post-categories.liquid
            categories=page.categories
        %}
    </header>
    <div class="post-page-content" itemprop="articleBody">
        {{ content }}
    </div>
</article>